<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/verified.css">
    <title>Document</title>
</head>
<body>
    <form action="/link_click" method="post">
    <p>Please click the button below to confirm your email address:</p>
    <input type="submit" class="confirm-link" name="" id="">
    </form>

</body>
</html>